
  .left-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    bottom: auto;
    right: auto;
    background: #001a30;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 10000;
  }
  .left-layer.active {
    left: 100%;
  }
  .left-layer--2 {
    background: #011425;
    transition-delay: .6s;
  }
  .left-layer--3 {
    background: #023d7077;
    transition-delay: .4s;
  }
  .left-layer--4 {
    background: #0b3152;
    transition-delay: .2s;
  }
  .right-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: 100%;
    bottom: auto;
    right: auto;
    background: #7f4a88;
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
