
* {
  transition: all 0.3s ease-out;
  
}


.a{
    text-decoration: none;
}

.tech-logos{
    height: 7vh;
    width: 5vw;
    margin:.25rem;
    object-fit: contain;
    
}



.project-name {
  color: #8892b0;
  font-size:xx-large;
  text-align: left;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  z-index: 2;
  
}

.project-desc {
    
  
  font-weight: 400;
  line-height: 20px;
  color: #666666;
  font-size: small;
}
.project-desc.small {
    margin-top: 1rem;
    font-size:1rem;
}



.card1 {
  display: block;
  position: relative;
  width: 40vw;
  height: 40vh;
  background-color:  #112240;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}


.card1:hover .project-desc,.tech-logos {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}
.card1:hover .project-name,.card1:hover .tech-logos {
  transition: all 0.3s ease-out;
  color: #ffffff;
  opacity: 1;
}


.logopro{
    width: 30px;
    height: 30px;
    filter: invert(97%) sepia(53%) saturate(3%) hue-rotate(124deg) brightness(115%) contrast(100%);
}

.logopro:hover{
  transform: scale(1.1);
}


@media only screen and (max-width: 600px) {


.tech-logos{
    height: 9vh;
    width: 6vw;
    margin:.25rem;
    object-fit: contain;
}

.project-name {
  color: #8892b0;
  font-size:25px;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 2px;
  
}

.project-desc {
    
  
  font-weight: 300;
  line-height: 20px;
  color: #666666;
}
.project-desc.small {
    margin-top: 1rem;
    font-size:15px;
}



.card1 {
  display: block;
  position: relative;
  width: 70vw;
  height: 40vh;
  background-color:  #112240;
  border-radius: 4px;
  padding: 22px 14px;
  margin: 6px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:hover .project-desc {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card1:hover .project-name {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

.go-arrow{
    display: flex;
    flex-direction: row;
}

.logopro{
    width: 30px;
    height: 30px;
    filter: invert(97%) sepia(53%) saturate(3%) hue-rotate(124deg) brightness(115%) contrast(100%);
}

.logopro:hover{
  transform: scale(1.1);
}

}  



.icon{
  font-size: 1.5rem;
  color: rgb(253, 247, 247);
  margin: 0.5rem;
}

.card1:hover .layout{
transition: 1s ease-in-out;
}

.card1 .layout{
  z-index:0;
  position:absolute;
  top:calc(100% - 2px);
  height:100%;
  width:100%;
  left:0;
  background:linear-gradient(to left , orange, tomato) transparent;
  transition:0.5s;
  
}


.card1:hover .project-name .project-desc .tech-logos .icon{
  position: relative;
  color:white;
  z-index: 1000;
}

.card1 .project-name .project-desc .tech-logos .icon{
  z-index:2; 
  position:relative;
}

.card1:hover{
  box-shadow:2px 5px 32px 5px #030d1f;
}