
ul{
    list-style: none;
}
.a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-image: linear-gradient(180deg, #0a192f 15%, transparent);
    background:transparent;
}
.logo{
    height: 24px;
    z-index: 2000;
}
.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 1.1rem;
}
.menu li{
    padding: 20px;
}
.menu li a{
    color: #ffffffcc;
}
.sign-up-btn,
.sign-up-btn-2{
    color: #17ffa6;
    border: 1px solid #17ffa6 ;
    padding: 0.55rem 1rem;
}

.sign-up-btn{
    color: #17ffa6;
    border: 1px solid #17ffa6 ;
    border-radius:5px;
}
.sign-up-btn-2{
    border:none;
    border-radius:10px;
    padding: 0;
}

.menu li a:hover,
.menu-2 li a:hover{
    color: #17ffa6;
    transition: all ease 0.5s;
}
.sign-up-btn:hover,
.sign-up-btn-2:hover{
    color: #0ab372;
    transition: all ease 0.5s;
}
::selection{
    color: #121212;
    background-color: #17ffa6;
}
.nav-2,
.menu-icon,
.menu-btn{
    display: none;
}
@media(max-width:1000px){
    .navigation{
        padding: 30px;
    }
    .navigation .menu,
    .navigation .sign-up-btn{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 3000;
    }
    nav .menu-icon .nav-icon{
        background-color: #ffffffcc;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 25px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background-color: #ffffffcc;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top: -5px;
    }
    nav .menu-icon .nav-icon,
    nav .menu-icon:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0px;
    }
    nav .menu-btn{
        display: none;
    }
    .nav-2{
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        width:100%;
        height: 100%;
        background-color: #000000;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        z-index: 2000;
        display: none;
        animation: fade 0.3s;

    }
    .menu-2{
        margin: 0px;
        padding: 0px;
    }
    .menu-2 li {
        color: #ffffff;
        margin: 0px;
        padding: 20px 0px;
        font-size: 45px;
    }
    .sign-up-btn-2{
        font-size: 45px;
    }
    .sign-up-btn-2 i{
        font-size: 45px;
    }
    nav .menu-btn:checked ~ .nav-2{
        display: flex;
    }

}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logo-svg{
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.menu li .active-link{
    color: #08f89c;
}

.menu-2 li .active-link{
    color: #02fd9d;
}
